* {
	text-align: center;
	width: 100%;
	height: 100%;
	background: url('http://miriadna.com/desctopwalls/images/max/To-the-horizon.jpg') no-repeat center center fixed;
	font-family: 'Open Sans', sans-serif;
}

span {
	background: white;
}

h6 {
	background: white;
}

.col-1 {
	background: white;
}

.col-1 button {
	background: white;
}

.col-5 {
	background: white;
}

.col-10 {
	background: white;
}

#active-modal {
	width: 100%;
	height: 100%;
}

#question-space {
	height: 100%;
	width: 100%;
	max-width: 100%;
	margin: 0;
}

#question-content {
	height: 100%;
}

#question-header {
	height: 10%;
	margin: 0;
	padding: 0;
}

#question-title-board {
	padding: 0;
}

#question-title-display h5 {
	margin: 0;
	padding: 0;
	background: white;
	font-size: 2rem;
}

#question-body {
	height: 80%;
	margin: 0;
	padding: 0;
}

#question-board {
	height: 100%;
	margin: 0;
	padding: 0;
}

#modal-row-one {
	height: 10%;
}

#modal-row-one h6 {
	height: 50%;
	margin: 0;
	padding: 0;
	font-size: 1.5rem;
}

#modal-row-two {
	height: 10%;
}

#modal-row-two div {
	background: white;
}

#question-p1-turn {
	background: white;
}

#question-p2-turn {
	background: white;
}

#modal-row-two h6 {
	height: 50%;
	margin: 0;
	padding: 0;
	font-size: 1.5rem;
}

#modal-row-three {
	height: 60%;
}

#question-text {
	height: 100%;
}

#question-text p {
	height: 100%;
	max-height: 100%;
	margin: 0;
	padding: 0;
	font-size: 1.5rem;
	background: white;
}

#modal-row-four {
	height: 20%;
}

#modal-row-four h6 {
	height: 35%;
	margin: 0;
	padding: 0;
	background: white;
	font-size: 1.5rem;
}

#modal-row-four textarea {
	height: 50%;
	background: white;
	font-size: 1.5rem;
}

#question-footer {
	height: 10%;
	margin: 0;
	padding: 0;
	background: white;
}

#question-footer button {
	height: 80%;
	margin: 0 4px;
}

#answer-button {
	background: rgb(6,12,233);
}

#answer-modal {
	width: 100%;
	height: 100%;
}

#answer-space {
	height: 100%;
	width: 100%;
	max-width: 100%;
	margin: 0;
}

#answer-content {
	height: 100%;
}

#answer-header {
	height: 10%;
	margin: 0;
	padding: 0;
}

#answer-title-board {
	padding: 0;
}

#answer-title-display h5 {
	margin: 0;
	padding: 0;
	background: white;
	font-size: 2rem;
}

#answer-body {
	height: 80%;
	margin: 0;
	padding: 0;
}

#answer-board {
	height: 100%;
	margin: 0;
	padding: 0;
}

#answer-modal-row-one {
	height: 10%;
}

#answer-timer-display {
	background: white;
}

#answer-modal-row-one h6 {
	height: 50%;
	margin: 0;
	padding: 0;
	font-size: 1.5rem;
}

#answer-modal-row-two {
	height: 10%;
}

#answer-modal-row-two div {
	background: white;
}

#answer-p1-turn {
	background: white;
}

#answer-p2-turn {
	background: white;
}

#answer-modal-row-two h6 {
	height: 50%;
	margin: 0;
	padding: 0;
	font-size: 1.5rem;
}

#answer-modal-row-three {
	height: 60%;
}

#answer-text {
	height: 100%;
}

#answer-text p {
	height: 100%;
	max-height: 100%;
	margin: 0;
	padding: 0;
	font-size: 1.5rem;
	background: white;
}

#answer-modal-row-four {
	height: 20%;
}

#answer-modal-row-four h6 {
	height: 35%;
	margin: 0;
	padding: 0;
	font-size: 1.5rem;
}

#answer-modal-row-four textarea {
	height: 50%;
	font-size: 1.5rem;
}

#answer-footer {
	height: 10%;
	margin: 0;
	padding: 0;
	background: white;
}

#answer-footer button {
	height: 80%;
	margin: 0 4px;
}

#correct-return-button {
	background: rgb(6,12,233);
}

#incorrect-modal {
	width: 100%;
	height: 100%;
}

#incorrect-space {
	height: 100%;
	width: 100%;
	max-width: 100%;
	margin: 0;
}

#incorrect-content {
	height: 100%;
}

#incorrect-header {
	height: 10%;
	margin: 0;
	padding: 0;
}

#incorrect-title-board {
	padding: 0;
}

#incorrect-title-display h5 {
	margin: 0;
	padding: 0;
	background: white;
	font-size: 2rem;
}

#incorrect-body {
	height: 80%;
	margin: 0;
	padding: 0;
}

#incorrect-board {
	height: 100%;
	margin: 0;
	padding: 0;
}

#incorrect-modal-row-one {
	height: 10%;
}

#incorrect-timer-display {
	background: white;
}

#incorrect-modal-row-one h6 {
	height: 50%;
	margin: 0;
	padding: 0;
	font-size: 1.5rem;
}

#incorrect-modal-row-two {
	height: 10%;
}

#incorrect-modal-row-two div {
	background: white;
}

#incorrect-p1-turn {
	background: white;
}

#incorrect-p2-turn {
	background: white;
}

#incorrect-modal-row-two h6 {
	height: 50%;
	margin: 0;
	padding: 0;
	font-size: 1.5rem;
}

#incorrect-modal-row-three {
	height: 60%;
}

#incorrect-text {
	height: 100%;
}

#incorrect-text p {
	height: 100%;
	max-height: 100%;
	margin: 0;
	padding: 0;
	font-size: 1.5rem;
	background: white;
}

#incorrect-modal-row-four {
	height: 20%;
}

#incorrect-modal-row-four h6 {
	height: 35%;
	margin: 0;
	padding: 0;
	font-size: 1.5rem;
}

#incorrect-modal-row-four textarea {
	height: 50%;
	font-size: 1.5rem;
}

#incorrect-footer {
	height: 10%;
	margin: 0;
	padding: 0;
	background: white;
}

#incorrect-footer button {
	height: 80%;
	margin: 0 4px;
}

#incorrect-return-button {
	background: rgb(6,12,233);
}

#game-board {
	margin: 0;
	padding: 0;
	height: 100%;
	text-align: center;
}

#game-board .col-1 {
	background: unset;
}

div#title-row {
	height: 11%;
}

#title-display h1 {
	margin: 0;
	padding: 0;
	line-height: 1.5;
	color: white;
	font-size: 3rem;
}

div#category-row {
	height: 13%;
}

#category-one-title div {
	background: rgb(6,12,233);
}

#category-two-title div {
	background: rgb(6,12,233);
}

#category-three-title div {
	background: rgb(6,12,233);
}

#category-four-title div {
	background: rgb(6,12,233);
}

#category-five-title div {
	background: rgb(6,12,233);
}

h4.text-center {
	background: rgb(6,12,233);
	color: white;
}

div#one-hundred-row {
	height: 13%;
}

#cat1-100 {
	background: url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/H3ymyCH1xiuhvo4rx/television-screen-with-static-noise-caused-by-bad-signal-reception_hisblojul_thumbnail-small01.jpg') no-repeat center/100% 100%;
	color: white;
}

#cat2-100 {
	background: black;
	color: rgb(0,191,255);
}

#cat3-100 {
	background: url('http://diysolarpanelsv.com/images/film-clipart-border-13.jpg') no-repeat center/100% 100%;
	color: black;
}

#cat4-100 {
	background: url('https://static.vecteezy.com/system/resources/previews/000/096/903/non_2x/blank-comic-style-background-illustration-vector.jpg') no-repeat center/100% 100%;
	color: red;
	font-weight: 900;
}

#cat5-100 {
	background: red;
}

div#two-hundred-row {
	height: 13%;
}

#cat1-200 {
	background: url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/H3ymyCH1xiuhvo4rx/television-screen-with-static-noise-caused-by-bad-signal-reception_hisblojul_thumbnail-small01.jpg') no-repeat center/100% 100%;
	color: white;
}

#cat2-200 {
	background: black;
	color: rgb(0,191,255);
}

#cat3-200 {
	background: url('http://diysolarpanelsv.com/images/film-clipart-border-13.jpg') no-repeat center/100% 100%;
	color: black;
}

#cat4-200 {
	background: url('https://static.vecteezy.com/system/resources/previews/000/096/903/non_2x/blank-comic-style-background-illustration-vector.jpg') no-repeat center/100% 100%;
	color: red;
	font-weight: 900;
}

#cat5-200 {
	background: red;
}

div#three-hundred-row {
	height: 13%;
}

#cat1-300 {
	background: url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/H3ymyCH1xiuhvo4rx/television-screen-with-static-noise-caused-by-bad-signal-reception_hisblojul_thumbnail-small01.jpg') no-repeat center/100% 100%;
	color: white;
}

#cat2-300 {
	background: black;
	color: rgb(0,191,255);
}

#cat3-300 {
	background: url('http://diysolarpanelsv.com/images/film-clipart-border-13.jpg') no-repeat center/100% 100%;
	color: black;
}

#cat4-300 {
	background: url('https://static.vecteezy.com/system/resources/previews/000/096/903/non_2x/blank-comic-style-background-illustration-vector.jpg') no-repeat center/100% 100%;
	color: red;
	font-weight: 900;
}

#cat5-300 {
	background: black;
}

div#four-hundred-row {
	height: 13%;
}

#cat1-400 {
	background: url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/H3ymyCH1xiuhvo4rx/television-screen-with-static-noise-caused-by-bad-signal-reception_hisblojul_thumbnail-small01.jpg') no-repeat center/100% 100%;
	color: white;
}

#cat2-400 {
	background: black;
	color: rgb(0,191,255);
}

#cat3-400 {
	background: url('http://diysolarpanelsv.com/images/film-clipart-border-13.jpg') no-repeat center/100% 100%;
	color: black;
}

#cat4-400 {
	background: url('https://static.vecteezy.com/system/resources/previews/000/096/903/non_2x/blank-comic-style-background-illustration-vector.jpg') no-repeat center/100% 100%;
	color: red;
	font-weight: 900;
}

#cat5-400 {
	background: white;
	color: black;
}

div#five-hundred-row {
	height: 13%;
}

#cat1-500 {
	background: url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/H3ymyCH1xiuhvo4rx/television-screen-with-static-noise-caused-by-bad-signal-reception_hisblojul_thumbnail-small01.jpg') no-repeat center/100% 100%;
	color: white;
}

#cat2-500 {
	background: black;
	color: rgb(0,191,255);
}

#cat3-500 {
	background: url('http://diysolarpanelsv.com/images/film-clipart-border-13.jpg') no-repeat center/100% 100%;
	color: black;
}

#cat4-500 {
	background: url('https://static.vecteezy.com/system/resources/previews/000/096/903/non_2x/blank-comic-style-background-illustration-vector.jpg') no-repeat center/100% 100%;
	color: red;
	font-weight: 900;
}

#cat5-500 {
	background: white;
	color: black;
}

div#players-row {
	height: 11%;
}

div#player-one-display {
	height: 100%;
	background: unset;
}

div#p1-points-display {
	height: 50%;
}

h5#p1-points-display {
	height: 50%;
	margin: 0;
	padding: 0;
	line-height: 2;
	background: grey;
	color: white;
}

div#p1-turn-indicator {
	height: 50%;
}

h5#p1-turn-indicator {
	height: 50%;
	margin: 0;
	padding: 0;
	line-height: 1.5;
	background: green;
	color: white;
}

div#player-two-display {
	height: 100%;
	background: unset;
}

div#p2-points-display {
	height: 50%;
}

h5#p2-points-display {
	height: 50%;
	margin: 0;
	padding: 0;
	line-height: 2;
	background: grey;
	color: white;
}

div#p2-turn-indicator {
	height: 50%;
}

h5#p2-turn-indicator {
	height: 50%;
	margin: 0;
	padding: 0;
	line-height: 1.5;
	background: green;
	color: white;
}

div.textContainer {
	padding: 1em 0;
	height: 100%;
}

div.textContainer h4 {
	margin: 0;
	padding-bottom: 0.5em;
	width: 100%;
	height: 100%;
	max-width: 100%;
	max-height: 2em;
	font-size: 2.25vw;
	vertical-align: middle;
	display: inline-block;
}

div.textContainer h5 {
	margin: 0;
	padding: 0.5em 0;
	width: 100%;
	height: 100%;
	max-width: 100%;
	max-height: 2em;
	font-size: 2.25vw;
	vertical-align: middle;
	display: inline-block;
}

div.textContainer button {
	margin: 0;
	padding: 0;
	width: 90%;
	height: 100%;
	max-width: 100%;
	max-height: 4em;
	font-size: 2.25vw;
	vertical-align: middle;
	display: inline-block;
}
